@import "reset";
@import "var";
@import "fonts";



//navbar style



html body .nav-bar #custom-navbar {
    background: transparent !important;
    z-index: 10;
}


.navbar-expand-lg .navbar-collapse {
    justify-content: space-evenly;
}

// .navbar-light .navbar-brand {
//     color: #FFFFFF;
// }

.navbar-brand {
    img {
        max-height: 50px;
        width: auto;

        // @media (max-width: 767px) {
        //     width: 25px;
        // }
    }
}

.nav-bar .container {

    .custom-btn-one {
        margin-right: 10px;
    }

    @media (max-width: 767px) {
        .country, .custom-btn-one, .custom-btn-two {
            display: none;
        }

    }

    .navbar-toggler-icon {
        background-image: none;
      }
      .navbar-toggler-icon::before {
        font-family: FontAwesome;
        content: "\f0c9"; /* fa-bars, fa-navicon */
      }
}


// Global custom things

.heading__area {
    .cutom-tag {
        margin: 0;
        display: inline-block;
    
        h5 {
            text-align: center;
            color: #2CB7EA;
            font-size: 22px;
            text-transform: capitalize;
            line-height: 33px;
            margin: 0;
            font-weight: 500;
        }
    }

    h2 {
        font-size: 46px;
        line-height: 58px;
        text-transform: capitalize;
        color: #202020;
        font-weight: 700;
    }

    p {
        font-size: 16px;
        line-height: 24px;
        color: #6D6D6D;
    }
}



.custom-btn-one {
    font-size: 14px;
    line-height: 21px;
    font-weight: 600;
    padding: 14px 35px;
    border: 1px solid #202020;
    color: #202020;
    border-radius: 8px;
    transition: .7s all ease;
    text-transform: capitalize;

    &:hover {
        border-color: #2CB7EA;
        background: #2CB7EA;
        color: #FFFFFF;
        transition: .7s all ease;
    }
}

.custom-btn-two {
    font-size: 14px;
    line-height: 21px;
    font-weight: 600;
    padding: 14px 35px;
    border: 1px solid #2CB7EA;
    color: #FFFFFF;
    border-radius: 8px;
    background-color: #2CB7EA;
    text-transform: capitalize;

    &:hover {
        color: #FFFFFF;
    }
}

.custom-btn-three {
    font-size: 16px;
    line-height: 25px;
    font-weight: 500;
    padding: 18px 60px;
    border: 1px solid #202020;
    color: #FFFFFF;
    border-radius: 6px;
    background-color: #202020;
    text-transform: capitalize;

    &:hover {
        color: #FFFFFF;
    }

    @media (max-width: 767px) {
        padding: 15px 35px;
    }
}

.custom-btn-arrow {
    padding: 0 0 3px;
    transition: .3s all;
    border: 0;
    border-bottom: 1px solid #5227c7;
    cursor: pointer;
    display: inline-block;
    color: #5227c7;
    margin: 8px 13px;
    
    i {
        font-size: x-small;
        vertical-align: middle;
        margin-left: 12px;
    }
    
}

// Global custom things


#navbarNavDropdown {

    justify-content: right;

   .navbar-nav {
       .nav-item {
        margin: 0 15px;

        &.active {
            color: #c9b4f3;
        }

            .nav-link {
                font-size: 16px;
                font-weight: 500;
                line-height: 25px;
                color: #202020;
                text-transform: capitalize;

                &.active {
                    // color: #2CB7EA;
                }
            }

        .dropdown-menu {
        //    background-color: #E85F57;

            .dropdown-item {
                color: #425466;
                padding: 15px 30px;
                &:hover {
                    background-color: #79797912;
                }
            }
        }
       }
   }
}

.nav-bar {
    .country {
        .country__code {
            margin: 0 40px;
            display: flex;
            .img_wrap {
                display: inline-flex;
                span {
                    display: flex;
                }
                img {
                    margin: 0 8px;
                    object-fit: contain;
                }
            }
        }
    }
}


// Banner

.home-banner {
    height: 100vh;
    .modify-img {
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100vh;
    }

    .hero-row {

        @media (max-width: 767px) {
            padding: 0 15px !important;
        }

        h1 {
            font-size: 59px;
            line-height: 61px;
            font-weight: 700;
            color: #2CB7EA;
            margin-bottom: 20px;
            max-width: 565px;

            @media (max-width: 767px) {
                font-size: 30px;
                line-height: 30px;
            }
        }

        h2 {
            font-size: 48px;
            font-weight: 600;
            line-height: 61px;
            text-transform: capitalize;
            color: #202020;
            max-width: 565px;

            @media (max-width: 767px) {
                font-size: 22px;
                line-height: 30px;
            }
        }

        h3 {
            font-size: 32px;
            font-weight: 600;
            line-height: 61px;
            text-transform: capitalize;
            color: #202020;
            max-width: 565px;

            @media (max-width: 767px) {
                font-size: 16px;
                line-height: 30px;
            }
        }

        p {
            text-align: left;
            color: #202020;
            font-size: 16px;
            line-height: 24px;
            max-width: 565px;

            @media (max-width: 767px) {
                font-size: 11px;
            }
        }

        .button-div {
            padding-top: 40px;

            a {
                margin: 8px 13px;

                &:first-child {
                    margin-left: 0;
                }
            }
        }

        .concerns {
            .flex-container {
                padding-top: 45px;

                ul {
                    display: flex;
                    li {

                        img {
                            max-width: 50%;
                            cursor: pointer;
                        }
                        
                        p {
                            font-weight: 400;
                            font-size: 18px;
                            line-height: 26px;
                            padding-right: 30px;
                        }
                    }
                }
            }
        }

        .hero-img {
            .img-wrap {
                img {
                    max-width: 120%;
                    
                    @media (max-width: 767px) {
                        
                        max-width: 95%;
                    }
                }
            }
        }
    }



}

 

// Services

.services {
    padding-top: 120px;
    padding-bottom: 120px;
    
    @media (max-width: 767px) {
        padding-top: 0;
        padding-bottom: 0;
    }

     /* the slides */
    .slick-slide {
        margin: 20px 20px;
    }
    /* the parent */
    .slick-list {
        margin: 20px -20px;
    }

    .container {
        .row-one {
            padding: 10px;
            margin-bottom: 40px 0;

            .col-md-12 {
                text-align: center;

            }


        }

        .row-two {
        
            .services__column {
                

                @media (max-width: 767px) {
                    margin-bottom: 50px;
                }
                .services__column__item {
                    

                    .content { 
                        margin-bottom: 30px;

                        @media (max-width: 767px) {
                            padding: 0 15px;
                        }

                        .img-wrap {
                            margin-bottom: 20px;
                            box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 21px 0px;
                            border-radius: 20px;
                            img {
                                
                            }
                        }

                        h4 {
                            font-size: 19px;
                            font-weight: 500;
                            line-height: 29px;
                            color: #2CB7EA;
                            margin-top: 25px;
                        }

                        h3 {
                            font-size: 30px;
                            font-weight: 600;
                            line-height: 50px;
                            color: #202020;
                            text-transform: capitalize;
                        }

                    }

                    
                }

                
            }
        }
    }
}

// Portfolio section

.portfolio-section {
    position: relative;
    padding: 120px 0;
    overflow: hidden;
    background-color: #2CB7EA;

    @media (max-width: 767px) {
        padding: 60px 0;
    }


    .container {
        padding: 0;

        @media (max-width: 767px) {
            padding: 0 15px;
        }
    }

    .custom-shape-divider-top-1654898688 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
    }
    
    .custom-shape-divider-top-1654898688 svg {
        position: relative;
        display: block;
        width: calc(100% + 1.3px);
        height: 150px;
    }
    
    .custom-shape-divider-top-1654898688 .shape-fill {
        fill: #FFFFFF;
    }

    .company__bg {
        position: absolute;
        bottom: 0;
        .img_wrap {
            img {
                width: 100vw;
            }
        }
    }

    .portfolio__content.two {
        flex-direction: row-reverse;
    }

    .portfolio__content {
        margin-bottom: 60px;

        @media (max-width: 767px) {
            padding: 0 15px;
        }

        .col-md-6 {
            @media (max-width: 767px) {
                margin-bottom: 40px;
            }
        }

        .heading__area {
            h5 {
                margin-bottom: 15px;

                @media (max-width: 767px) {
                    font-size: 13px;
                }
            }

            h2 {
                margin-bottom: 20px;

                @media (max-width: 767px) {
                    font-size: 35px;
                    line-height: 45px;
                }
            }

            p {
                font-size: 16px;
                line-height: 24px;
                color: #FFFFFF;
                font-weight: 400;
            }
        }

        .col-md-6 {
            align-self: center;
        }

        .cutom-tag h5 {
            color: #FFFFFF;
        }

        &:last-child {
            margin-bottom: 0;
        }

        .portfolio__title {
            font-size: 38px;
            font-weight: 700;
            color: #202020;
            line-height: 45px;
            text-transform: capitalize;
            margin-bottom: 20px;

            @media (max-width: 767px) {
                font-size: 25px;
                line-height: 35px;
            }
        }
    
        .portfolio__paragraph {
            font-size: 16px;
            line-height: 24px;
            color: #FFFFFF;
            font-weight: 400;
            margin-bottom: 30px;
        }

        ul {
            li {
                color: #FFFFFF;
                line-height: 34px;
                font-size: 16px;
                span {
                    margin-right: 9px;
                }
            }
        }

        .button-div {
            margin-top: 50px;
            .custom-btn-three {
                padding: 17px 37px;
                font-size: 15px;
                line-height: 23px;
            }
        }
        
    }

    
}


// Features section
.features-section {
    padding: 120px 0;    

    @media (max-width: 767px) {
        padding: 60px 0;
    }

    @media (max-width: 767px) {
        h2 {
            font-size: 35px;
            line-height: 45px;
        }
    }

    .box__row {
        margin-bottom: -20px;
        .content {
            box-shadow: rgba(0, 0, 0, 0.08) 0px 3px 36px;
            padding: 30px 15px 25px 30px;
            border-radius: 20px;
            margin-bottom: 30px;

            min-height: 320px;

            .image__wrap {
                width: 65px;
                margin-bottom: 20px;
            }

            h4 {
                font-size: 18px;
                line-height: 50px;
                font-weight: 600;
                text-transform: capitalize;
                color: #202020;
            }

            p {
                font-size: 13px;
                font-weight: 400;
                line-height: 22px;
                color: #5C5C5C;
            }

        }
    }
}



// Footer

.footer {
   padding-top: 120px;
   background-color: #0D0D0D;
   position: relative;
   overflow: hidden;

   @media (max-width: 767px) {
    padding: 60px 15px 0px 15px;
}

   .footer__bg {
    position: absolute;
   }

   .column {

    .footer_header {
        h4 {
            font-size: 16px;
            line-height: 26px;
            color: #FFFFFF;
            font-weight: 600;
            position: relative;
            padding-bottom: 18px;
            &::after {
                content: '';
                position: absolute;
                width: 35px;
                height: 3px;
                background-color: #2CB7EA;
                bottom: 0;
                left: 0;
            }
        }

    }

    ul {
        li {
           
            color: #FFFFFF;
            font-size: 15px;
            line-height: 40px;

            span {
                margin-right: 5px;
            }

            .contact__number {
                font-size: 25px;
                line-height: 37px;
                font-weight: 700;
            }

            a {
                color: #FFFFFF;
                font-size: 15px;
                line-height: 40px;
    
                span {
                    margin-right: 5px;
                }
            }

            a:hover {
                color: #2CB7EA;
            }
        }


    }
   }

   .newsletter {

    h2 {
        text-align: center;
        font-size: 20px;
        line-height: 30px;
        text-transform: capitalize;
        color: #FFFFFF;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    justify-content: center;

    .form__wrap {
        background-color: #FFFFFF;
        border-radius: 5px;
        overflow: hidden;
        margin: 0 15px;
        form {
            display: flex;
            input {
                height: 100%;
                padding: 20px 30px;
                border: none;
                overflow: hidden;
            }
    
            .custom_submit {
                background-color: #2CB7EA;
                color: #FFFFFF;
            }
        }
    }
    
   }

   .copyright {
    padding: 50px 0;

    p {
        color: #FFFFFF;
        font-size: 15px;
        line-height: 23px;
    }

    .footer__icons {
        color: #FFFFFF;
        text-align: center;

        @media (max-width: 767px) {
            margin-bottom: 20px;
            text-align: left;
        }

        span {
            padding: 0 15px;
        }

    }

    .copyright-link {
        p {
            a {
                color: #2CB7EA;
            }

            &:hover {
                color: #FFF;
            }
        }
    }
   }
}




// Animation

#slide {
    position: absolute;
    right: -1000px;
    width: 600px;
    height: 370px;
    -webkit-animation: slide .9s forwards;
    
    animation: slide 0.5s forwards;
    animation-delay: 1s;
}

@-webkit-keyframes slide {
    100% { right: 0; }
}

@keyframes slide {
    100% { right: 0; }
}





@import "home-responsive";